ion-content {
    --background: none; /* Elimina cualquier fondo global */
    background-image: url('../../../assets/img/green-lantern-fondo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.transparent-list {
    background: transparent;
  }

 ion-item {
    --background: transparent; /* Fondo transparente */
    color: hsl(70, 90%, 49%); /* Color de texto en naranja oscuro */
  }
  
 
  
  ion-label h2 {
    font-size: 1.4em; // tamaño letra
    color: rgb(255, 206, 8);
    margin: 0;
  }
  
  ion-label p {
    font-size: 1.2em; // tamaño precio
    color: hwb(134 83% 7%); // color precio
    margin: 5px 0 0;
  }

  .content_img{
    width: 94px; // tamaño de imagen
  }
  
  .product-image {
    width: 100%;
    object-fit: cover;
    border-radius: 500px;
    margin-left: auto;
  }

