ion-card {
    background-color: rgba(25, 25, 26, 0.5); /* Fondo semitransparente del ion-card*/
    backdrop-filter: blur(5px); /* Opcional: agrega un efecto de desenfoque detrás */
    box-shadow: none;
    border-radius: 5%;
    margin: 10%  auto;
    width: 99%; // ancho del ion-card
  }

  ion-toolbar ion-title {
    color: #52ffe4;
  }

  ion-card-header ion-card-subtitle {
    color: #84e340;
  }