<ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
     
  <div class="title_tab">
    <h2>Figuras DC Cómics</h2>
  </div>

  <ion-list>
    <ion-item *ngFor="let figuras of figuras">
      <ion-card>
        <img [src]="figuras.imagen" alt="{{ figuras.nombre }}" />
        <ion-card-header>
          <ion-card-title>{{ figuras.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ figuras.descripcion }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
