<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cofradia Comic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cofradia Comic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center cuerpo_page"> 
    <ion-card-title>
      <h2>Bienvenidos Comiqueros</h2>
    </ion-card-title>
  
    <div class="logo-container">
      <img src="../../assets/img/klipartz.com (1).png" alt="Logo" class="logo">
    </div>

    <!--
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" maxlength="8" minlength="3" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="Password" maxlength="4" [(ngModel)]="password"></ion-input>
      </ion-item>

    </ion-card-content>
        <ion-button expand="block" (click)="login()">Ingrese ahora</ion-button>
    </ion-card-content>
    -->
    
  </div> 

</ion-content>