ion-list {
    --background: transparent; /* Fondo transparente para el listado */
    background-color: transparent;
  }
  
ion-item {
--background: transparent; /* Fondo transparente para cada ítem */
background-color: transparent; 
}

ion-item ion-icon { 
    color: #52ffe4;    
}

ion-item ion-label {
    color:hsl(74, 100%, 66%)
}

ion-header,
ion-toolbar{
    background-color: transparent;
    color: rgb(29, 30, 30);
}