.company-content{
  display: flex; 
  align-items: center;
}

.company-content img {
  width: 20%;
  position: absolute;
  margin-left: 0%;
}
.company-icon{
  margin-right: 19px;
}
.company-content span{
  color: darkorange;
}

