ion-card {
    background-color: rgba(56, 56, 62, 0.5); /* Fondo semitransparente del ion-card*/
    backdrop-filter: blur(5px); /* Opcional: agrega un efecto de desenfoque detrás */
    box-shadow: none;
    border-radius: 5%;
    margin: 3%  auto;
    width: 90%; // ancho del ion-card
  }


