ion-content {
  --background: none; /* Elimina cualquier fondo global */
  background-image: url('../../assets/img/flash-fondo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

ion-header {
  --background: transparent; /* Fondo transparente */
  --ion-toolbar-background: transparent; /* Fondo transparente para la toolbar */
  --ion-toolbar-border-color: transparent; /* Elimina el borde */
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px; 
}

.user-info h2 {
  font-size: 1em;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
}

.user-info  span { 
  font-size: 0.8em;
  font-weight: bold;
}

ion-card {
  background-color: rgba(9, 9, 9, 0.5); /* Fondo semitransparente */
  backdrop-filter: blur(5px); /* Opcional: agrega un efecto de desenfoque detrás */
  box-shadow: none;
  border-radius: 3%;
  margin: 10%  auto;
  width: 100%; 
}

ion-card ion-item {
  --background: transparent; /* Fondo transparente */
  color: hsl(217, 44%, 14%); /* Color de texto en naranja oscuro */
}

ion-card-header {
  padding: 0;
  text-align: center;
}

.custom-list-item {
  background-color: #094f58; /* Color de los marcos */
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.custom-list-item:hover {
  background-color: hsl(138, 53%, 25%); /* Cambia el color el marco al pinchar un marco  */
}

.custom-card-content {
  color: #540845;
  font-size: 16px;
}

#user{
  padding-top: 20px;
}

.shake-img {
  animation: shake 6s ease-in-out infinite alternate;
}

@keyframes shake {
  0% {rotate: 0deg;}
  30% {rotate: 25deg;}
  60% {rotate: -25deg;}
  100% {rotate: 0deg;}
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
