<ion-header [translucent]="true">
  <ion-toolbar>
    <app-company-name [companyName]="'Cofradia Cómics'"></app-company-name>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>  
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-card-title>{{bienvenida}}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="custom-card-content">
      <div id="user">
        <p>Usuario: {{ email }}</p> 
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Comics Recientes</ion-card-title>
      <ion-card-subtitle>Cofradia Cómics</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- Recorre el array de productos para mostrar cada comic en la lista -->
        <ion-item *ngFor="let comic of comics" (click)="mostrarAlerta(comic)" class="custom-list-item">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="{{comic.img}}" class="shake-img" />
          </ion-thumbnail>
          <ion-label>{{ comic.nombre }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
